{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="hero-wrap hero-bread"  style="background-image: url('{% static 'images/bg_1.jpg' %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="#">Home</a></span> <span>Products</span></p>
            <h1 class="mb-0 bread">Products</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
    				<ul class="product-category">
    					<li><a href="{% url 'shops:shop' %}" class="active">All</a></li>
    					<li><a href="{% url 'shops:shop-details-1' %}">Vegetables</a></li>
    					<li><a href="{% url 'shops:shop-details-2' %}">Fruits</a></li>
    					<li><a href="{% url 'shops:shop-details-3' %}">Juice</a></li>
    					<li><a href="{% url 'shops:shop-details-4' %}">Dried</a></li>
    				</ul>
    			</div>
    		</div>
    		<div class="row">
                {% for qs in product_details_2 %}
                    {% if qs.category == 'fruits' %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"> <img class="img-fluid"  src="{{ qs.image.url }}  " >
                            {% if qs.discount_percent is not exist %}
    						<span class="status">{{ qs.discount_percent }} % OFF</span>
                            {% endif %}
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">{{ qs.product_name }}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
                                    {% if qs.discount_price is not exist %}

                                        <p class="price"><span class="mr-2 price-dc">{{ qs.regular_price }} TK</span>
                                            <span class="price-sale">{{ qs.discount_price }} TK</span></p>

                                        {% else %}
                                         <p class="price"><span class="mr-2 price-dc"></span>
                                             <span class="price-sale"></span>{{ qs.regular_price }} TK</p>

		    					    {% endif %}
                                </div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
	    								<span><i class="ion-ios-menu"></i></span>
	    							</a>
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart"></i></span>
	    							</a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
                       {% endif %}


                {% endfor %}

            </div>

    		<div class="row pagination-wrap">

          <div class="col-md-6 text-center text-md-left">
            <div class="custom-pagination ml-auto">
              {% if product_details_2.has_previous %}
              <a  href="?page={{ product_details_2.previous_page_number }}" class="prev">Previous</a>
              {% endif %}
              <div class="d-inline-block">
                Page <a href="#" class="active">{{ product_details_2.number }}</a> of  {{ product_details_2.paginator.num_pages }}


              </div>
              {% if product_details_2.has_next %}
              <a href="?page={{ product_details_2.next_page_number }}" class="next">Next</a>
               {% endif %}
            </div>
          </div>
        </div>
    	</div>
    </section>

{% endblock %}

